* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

body {
  background: #28243d;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

/* Navbar */
.navbar {
  width: 100%;
  background: #312d4b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin: 0 15px;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.navbar ul li a:hover {
  color: #f7a701;
}

.navbar .menu-toggle {
  display: none;
  color: #fff;
  font-size: 28px;
  cursor: pointer;
}

.nav-links li img {
  height: 30px;
  width: auto;
}

.nav-links li:nth-child(2) {
  display: flex;
  align-items: center;
}

.nav-links li:nth-child(2) img {
  height: 40px;
  width: auto;
  margin-right: 10px;
}

.nav-links li:nth-child(2) a {
  display: flex;
  align-items: center;
}

.search-bar {
  flex: 1;
  text-align: center;
}

.search-bar input {
  width: 80%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 14px;
  background-color: #3d3759;
  color: white;
}

@media (max-width: 768px) {
  .navbar ul {
    display: none;
    flex-direction: column;
    width: 100%;
    background: #28243d;
    position: absolute;
    top: 60px;
    left: 0;
  }

  .navbar ul li {
    margin: 15px 0;
    text-align: center;
  }

  .navbar .menu-toggle {
    display: block;
  }
}

/* Sidebar */
.sidebar {
  position: fixed;
  left: 0;
  top: 60px;
  height: 100%;
  width: 250px;
  background: #312d4b;
  padding: 20px;
  overflow-y: auto;
  z-index: 999;
}

.sidebar p {
  color: white;
  font-size: 14px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color: #c1c2c4;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.sidebar ul li a:hover {
  color: #f7a701;
}

.sidebar .sidebar-icon {
  height: 30px;
  width: auto;
  margin-right: 10px;
}

.playlist-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.playlist-header img {
  height: 20px;
  width: auto;
  cursor: pointer;
}

.playlist-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  margin: 10px 0;
}

.playlist-item .img-cover {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 10px;
}

.playlist-item .playlist-text {
  display: flex;
  flex-direction: column;
}

.playlist-item .playlist-text strong {
  font-size: 16px;
}

.playlist-item .playlist-text span {
  font-size: 14px;
  color: #c1c2c4;
}

/* Main Content */
.main-content {
  margin-left: 250px;
  padding: 80px 20px 0px 20px;
  color: #c1c2c4;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.section-header h2 {
  font-size: 24px;
}

.show-all {
  text-decoration: none;
  color: #f7a701;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: -50px;
}

.card {
  background: #3d3759;
  border-radius: 10px;
  padding: 16px;
  width: 14vw; /* Use viewport width for responsive scaling */
}

.img-cover {
  width: 166px;
  height: 166px;
  border-radius: 5px;
}

.text-container {
  margin-top: 10px;
}

.text-container strong {
  font-size: 18px;
}

.text-container span {
  font-size: 14px;
  color: #999;
}

.new-long-container {
  display: flex;
  flex-direction: Wrap;
  gap: 50px; /* Adjust the spacing between cards */
  margin-top: 20px; /* Adjust margin to suit your layout */
}

.new-long-container .long-card {
  width: 100%; /* Adjust width as needed */
  max-width: 600px;
  height: 82px;
  background-color: #3d3759; /* Add your desired background color */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow if needed */
  display: flex;
  align-items: center;
  padding: 10px; /* Add padding to the card */
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #312d4b;
  color: #c1c2c4;
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.footer-left {
  display: flex;
  align-items: center;
}

.footer-left img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

.footer-left div {
  display: flex;
  flex-direction: column;
}

.footer-left p {
  margin: 0;
  font-size: 14px;
}

.footer-center img {
  height: 50px;
  width: auto;
}

.footer-right img {
  height: 50px;
  width: auto;
  margin-left: 10px;
}

.new-long-container .long-card img {
  width: 50px;
  height: 50px;
  border-radius: 5px; /* Adjust image border radius if needed */
  margin-right: 10px; /* Space between image and text */
}

.new-long-container .long-card .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-long-container .long-card .text-container strong {
  font-size: 16px;
  margin-bottom: 5px; /* Space between title and subtitle */
}

.new-long-container .long-card .text-container span {
  font-size: 14px;
  color: #999; /* Subtitle text color */
}

/* Custom Buttons */
.custom-button {
  background-color: #28243d;
  border: none;
  padding: 10px 20px;
  color: #c1c2c4;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.custom-button:hover {
  background-color: #f79001;
}

.button-group {
  display: flex;
  margin-bottom: 20px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #312d4b;
  color: #c1c2c4;
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.footer-left,
.footer-center,
.footer-right {
  display: flex;
  align-items: center;
}

.footer-left img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}
.footer-right img {
  height: 20px;
  width: auto;
}

.footer-center p,
.footer-right p {
  margin: 0;
  font-size: 14px;
}

.footer-center {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 70%; /* Ensure the container takes the full width */
  height: 100%; /* Ensure the container takes the full height */
}

.footer-center img {
  margin: auto; /* Center the image horizontally and vertically */
}

.footer-right {
  margin-left: auto; /* Pushes the right text to the right side */
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
    padding: 20px;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
  }

  .sidebar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .sidebar ul li {
    margin: 10px;
  }
}
